header {
    font-family: 'Teko', sans-serif;
    font-weight: 300;

    .header-menu {
        margin-top: 10px;
    }

    li {
        a {
            font-size: 24px;
            color: $header_primary_color;
            text-transform: capitalize;

            &:hover {
                text-decoration: none;
            }
        }
    }
}
