main {
    .products-banner {
        font-family: 'Open Sans', sans-serif;
        color: #ffffff;
        background-color: $motto_primary_color;
        padding: 15px 0;

        h2 {
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 2px;
            margin: 25px 20px 15px;
            line-height: 120%;
        }

        p {
            font-size: 14px;
            margin: 0 20px 15px 23px;
        }
    }

    .products-list {
        background-color: #daedf3;

        .category {
            h3 {
                font-family: 'Teko', sans-serif;
                font-size: 70px;
                color: $categories_font_color;
                padding: 30px 0 50px;
                margin: 0;
            }
        }
    }
}
