// store
$store_color_primary: rgba(0,20,146,1);
// header
$header_primary_color: #444444;

// motto section
$motto_primary_color: #001942;

// footer
$footer_group_color: #0d2240;
$footer_list_color: #808080;

// product page
$product_page_primary_color: #b8dae6;
$product_page_text_color: #002d73;
